extends ../layouts/main_layout.pug

block content
    .row
        .col-lg-6 
            .card 
                .card-header Change Password 
                .card-body 
                    form(action='/save-change-password', method='post')
                        .form-group 
                            label(for="oldPassword") Old Password 
                            input.form-control(type='password', name='oldPassword')
                        .form-group.form-floating.mb-3 
                            label(for="newPassword") New Password 
                            input.form-control(type='password', name='newPassword')
                        .form-group 
                            label(for="confirmPassword") Confirm Password 
                            input.form-control(type='password', name='confirmPassword')
                        
                        button.btn-primary.btn-sm(type='submit') Update
                        button.btn-secondary.btn-sm.ml-2(type='reset') Reset